/* global */
:root {
    --primary: #dc4f72;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html,
body {
    font-family: 'Nunito', sans-serif;
}

button {
    cursor: pointer;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* end global */

/* header */

header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 1.625rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--primary);
    letter-spacing: -1px;
}

.navbar .navbar-brand i {
    display: inline-block;
    color: var(--primary);
    font-size: 1.625rem;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: var(--primary);
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover {
    color: var(--primary);
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    color: var(--title-color);
}

button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler-icon {
    font-size: 1.25rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

.dropdown-item {
    padding-top: 0;
    padding-bottom: 14px;
}

.dropdown-item:last-of-type {
    padding-bottom: 7px;
}

.dropdown-item:first-of-type {
    padding-top: 7px;
}

.dropdown-menu {
    position: relative;
    transform: translateX(-20%);
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media(max-width: 1279px) {
    .container {
        max-width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 991px) {

    .navbar-nav,
    .nav-item {
        animation-name: none;
        float: left;
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }

    .navbar-nav:last-of-type {
        padding: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-item {
        animation-name: none;
        padding: 0;
    }

    .navbar-toggler-icon {
        line-height: 1.2em;
        color: #fff;
        line-height: 34px;
        background-color: var(--primary);
        border-radius: 5px;
    }

    .dropdown-menu {
        position: relative;
        transform: translateX(0);
        text-align: center;
    }
}

@media(max-width: 567px) {
    .container {
        max-width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* end header */

/* carousel */
.carousel {
    position: relative;
    top: 90px;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url("../img/banner.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding: 5rem 1rem 0;
}

.carousel .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: var(--title-color);
    font-weight: 700;
}

.carousel .content-left p {
    color: var(--text-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}

/* end carousel */