/* global */
:root {
    --primary: #dc4f72;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --card-curve: 6px;
    --light-bg-color: #F7F9FC;
    --card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --transformY: translateY(-0.5rem);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html,
body {
    font-family: 'Nunito', sans-serif;
}

a:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* end global */

/* header */

header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 1.625rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--primary);
    letter-spacing: -1px;
}

.navbar .navbar-brand i {
    display: inline-block;
    color: var(--primary);
    font-size: 1.625rem;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: var(--primary);
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover {
    color: var(--primary);
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    color: var(--title-color);
}

button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler-icon {
    font-size: 1.25rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

.dropdown-item {
    padding-top: 0;
    padding-bottom: 14px;
}

.dropdown-item:last-of-type {
    padding-bottom: 7px;
}

.dropdown-item:first-of-type {
    padding-top: 7px;
}

.dropdown-menu {
    position: relative;
    transform: translateX(-20%);
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media(max-width: 1279px) {
    .container {
        max-width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 991px) {

    .navbar-nav,
    .nav-item {
        animation-name: none;
        float: left;
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }

    .navbar-nav:last-of-type {
        padding: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-item {
        animation-name: none;
        padding: 0;
    }

    .navbar-toggler-icon {
        line-height: 1.2em;
        color: #fff;
        line-height: 34px;
        background-color: var(--primary);
        border-radius: 5px;
    }

    .dropdown-menu {
        position: relative;
        transform: translateX(0);
        text-align: center;
    }
}

@media(max-width: 567px) {
    .container {
        max-width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* end header */

/* carousel */
.carousel {
    position: relative;
    top: 90px;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url("../img/banner.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding: 5rem 1rem 0;
}

.carousel .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: var(--title-color);
    font-weight: 700;
}

.carousel .content-left p {
    color: var(--text-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}

/* end carousel */

/* chooseUs */
.title {
    max-width: 750px;
    margin: 0 auto;
}

.title .sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.title h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.title p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.chooseUs {
    margin-top: 110px;
}

.chooseUs .row {
    margin: 0 auto;
}

.chooseUs .s-block {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in;
    background: var(--light-bg-color);
    padding: 3rem 2rem;
    border: 1px solid var(--light-bg-color);
}

.chooseUs .s-block:hover {
    transition: 0.3s ease-in;
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: var(--card-hover-box-shadow);
    transform: var(--transformY);
}

.chooseUs .s-block h3 {
    color: var(--title-color);
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}

.chooseUs .s-block p {
    color: var(--text-color);
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

/* end chooseUs */

/* about */
.about {
    background-color: var(--light-bg-color);
}

.about .sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.about__left h3 {
    font-size: 35px;
    line-height: 40px;
    color: var(--title-color);
    font-weight: 700;
}

.about__left p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24.4px;
}

.about .row {
    margin: 0 auto;
}

img.img-curve {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
}

img.img-curve:hover {
    transform: var(--transformY);
    transition: 0.3s ease-in-out;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

/* end about */

/* number */
.number {
    background: var(--light-bg-color);
}

.number .row {
    margin: 0 auto;
}

.number__item {
    background-color: #fff;
    padding: 2rem;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
    transition: 0.3s ease;
    border: 1px solid #eee;
}

.number__item h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: var(--title-color);
    font-weight: 700;
}

.number__item p.counter {
    font-size: 50px;
    line-height: 1;
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

.number__content p {
    color: var(--text-color);
}

/* end number */

/* banner */
.banner .banner__content {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.banner .middle-section {
    max-width: 550px;
    padding: 0 10px;
}

.banner .middle-section h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.banner .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}

/* end banner */

/* SOLUTIONS VŨ */
.solutions .grids5-info {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in;
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
}

.solutions .grids5-info:hover {
    box-shadow: var(--card-hover-box-shadow);
    transform: var(--transformY);
}

.solutions a.zoom {
    overflow: hidden;
    position: relative;
}

.solutions a.zoom img {
    transition: 0.3s ease-in-out;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.solutions .grids5-info:hover a.zoom img {
    overflow: hidden;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: 0.3s ease-in-out;
}

.solutions .blog-info {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.solutions .grid-view img.news-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.solutions .grid-view a.zoom {
    border-top-left-radius: var(--card-curve);
    border-top-right-radius: var(--card-curve);
}

.solutions .grid-view .grids5-info h4 a {
    font-size: 22px;
    line-height: 27px;
    color: var(--title-color);
    display: block;
    font-weight: 600;
}

.solutions .grids5-info:hover div.blog-info h4 a {
    color: var(--primary);
}

.solutions .grid-view .grids5-info h4 a:hover {
    color: var(--primary);
}

.solutions .grid-view .grids5-info p {
    font-size: 16px;
    line-height: 24.5px;
    color: var(--text-color);
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.solutions .grid-view p.date {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0px;
    position: absolute;
    top: 0;
    background: var(--primary);
    padding: 15px;
    margin-bottom: 0;
    right: 0;
    margin-top: 0;
}

.solutions .grid-view .grids5-info img {
    width: 100%;
    display: block;
}

.solutions a.btn-news {
    padding: 0;
    color: var(--primary);
    transition: 0.3s ease-in-out;
    border-radius: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.solutions a.btn-news span {
    font-size: 60%;
    vertical-align: middle;
    padding-left: 0px;
    position: absolute;
    right: -13px;
    top: 7.5px;
    transition: 0.3s ease-in;
}

.solutions label.tag-label {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.solutions label.tag-label.red {
    background: rgba(238, 97, 120, 0.2);
    color: var(--primary);
}

.solutions label.tag-label.green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.solutions label.tag-label.blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

.solutions a.btn-news:hover {
    transition: 0.3s ease-in-out;
    color: var(--primary);
}

.solutions a.btn-news:hover span.fa {
    right: -16px;
    transition: 0.3s ease-in;
}

.solutions .grids5-info:hover a.btn-news span.fa {
    right: -16px;
    transition: 0.3s ease-in;
}

@media all and (max-width: 768px) {
    .solutions .grids5-info h4 a {
        font-size: 20px;
        line-height: 25px;
    }
}

@media all and (max-width: 568px) {
    .solutions .grids5-info p {
        margin-top: 12px;
    }
}

@media all and (max-width: 414px) {
    .solutions .grids5-info h4 a {
        font-size: 23px;
    }
}

@media all and (max-width: 384px) {
    .solutions .grids5-info h4 a {
        font-size: 22px;
    }
}

/* END SOLUTIONS  */


/* GENERAL VŨ*/
.general {
    background-color: var(--light-bg-color);
}

.general .general__image {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

.general .general-content .transition,
.general .general-content p,
.general .general-content ul li i:before,
.general .general-content ul li i:after {
    transition: all 0.25s ease-in-out;
}

.general .general-content .flipIn,
.general .general-content h1,
.general .general-content ul li {
    -webkit-animation: flipdown 0.5s ease both;
    animation: flipdown 0.5s ease both;
}

.general .general-content .no-select,
.general .general-content h2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.general .general-content h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: var(--title-color);
}

.general .general-content p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.general .general-content ul {
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}

.general .general-content ul li {
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    border-radius: var(--card-curve);
    background: #fff;
}

.general .general-content ul li:nth-of-type(1) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.general .general-content ul li:nth-of-type(2) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.general .general-content ul li:nth-of-type(3) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.general .general-content ul li:nth-of-type(4) {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

.general .general-content ul li:nth-of-type(5) {
    -webkit-animation-delay: 1.50s;
    animation-delay: 1.50s;
}

.general .general-content ul li:nth-of-type(6) {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}

.general .general-content ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}

.general .general-content ul li i:before,
.general .general-content ul li i:after {
    content: "";
    position: absolute;
    background-color: var(--title-color);
    width: 3px;
    height: 9px;
}

.general .general-content ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.general .general-content ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

.general .general-content ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-appearance: none;
}

.general .general-content ul li input[type=checkbox]:checked~p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.general .general-content ul li input[type=checkbox]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg);
}

.general .general-content ul li input[type=checkbox]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

@media screen and (max-width: 480px) {
    .general .general-content h2 {
        font-size: 18px;
        line-height: 30px;
    }
}

ul.resp-tabs-list,
p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #4E5B61;
    background: #fff !important;
    border-bottom: 3px solid #eee;
}

.resp-tabs-list li img {
    margin-right: 30px;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    border-bottom: 3px var(--primary) solid !important;
    color: var(--primary) !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border-top-color: #5AB1D0;
}

h2.resp-accordion {
    font-size: 20px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
}

/* END GENERAL  */